.vs/
/Garagato.MVC/obj
/Garagato.MVC/bin
Garagato.MVC/obj/Debug/net8.0/Garagato.MVC.AssemblyInfoInputs.cache
Garagato.MVC/obj/Debug/net8.0/Garagato.MVC.assets.cache
Garagato.MVC/obj/Debug/net8.0/Garagato.MVC.GeneratedMSBuildEditorConfig.editorconfig
Garagato.MVC/obj/Debug/net8.0/Garagato.MVC.sourcelink.json