<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Garagato - @ViewData["Title"]</title>
    <link rel="icon" href="~/assets/imgs/imgsOrne/icono32x32.png" type="image/x-icon">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Garagato.MVC.styles.css" asp-append-version="true" />
    @* tailwind *@
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-primary flex flex-col h-screen">

    <header class="bg-secondary p-5 w-full flex justify-between items-center">

        @if (User.Identity.IsAuthenticated)
        {
            <a href="/home/index"><h1 class="text-white text-2xl font-bold ">garagato</h1></a>


            <a href="/home/logout" class="bg-white text-secondary p-2 rounded-md">
                Cerrar Sesión
            </a>

        }

        else
        {
            <a href="/login/index"><h1 class="text-white text-2xl font-bold ">garagato</h1></a>
        }
    </header>

    <main role="main" class="grow">
        @RenderBody()
    </main>


    <footer class="bg-dark p-5 w-full">
        <div class="text-base text-white text-center">
            <p class="font-bold">&copy; 2024 - garagato</p>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/dc0786cc41.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
