<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Garagato.MVC</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Garagato.MVC.styles.css" asp-append-version="true" />
    @* fuentes *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    @* tailwind *@
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-primary flex flex-col h-screen">

    <header class="bg-secondary p-5 w-full">
        <a href="/login/bienvenida"><h1 class="text-white text-2xl balsamiq-sans-bold-italic ">Garagato</h1></a>
    </header>

    <main role="main" class="grow">
        @RenderBody()
     </main>


    <footer class="text-muted bg-dark p-5 w-full">
        <div class="text-base font-bold text-white text-center">
            <p class="balsamiq-sans-regular">&copy; 2024 - Garagato</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
