html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Colores de la página*/
.bg-primary {
    background-color: #FCD1C5; /*Rosa*/
}

.bg-secondary {
    background-color: #D7263D; /*Rojo*/
}

.bg-special {
    background-color: #F46036; /*Naranja*/
}

.bg-dark {
    background-color: #2E294E; /*Azul*/
}

.text-dark {
    color: #2E294E; /*Azul*/
}

.text-secondary {
    color: #D7263D; /*Rojo*/
}