@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <h1 class="text-2xl font-bold ml-4">
        /\_/\
    </h1>
    <h1 class="text-2xl font-bold ml-2">
        ( o.o ) Me estoy construyendo...
    </h1>
    <h1 class="text-2xl font-bold ml-4">
        >^<
    </h1>
</div>
