@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="p-10 bg-white shadow-lg w-96 h-auto mx-auto my-20 rounded-lg relative">
    <h2 class="text-2xl font-bold text-center mb-2">Bienvenido!</h2>
    <form action="/login" method="post" class="flex flex-col gap-4">
        <div class="flex flex-col">
            <label class="text-gray-700 mb-1">Nombre de usuario: </label>
            <input type="text" class="border border-gray-300 p-2 rounded focus:outline-none focus:ring-2 focus:ring-red-500">
        </div>
        <div class="flex flex-col">
            <label class="text-gray-700 mb-1">Contraseña: </label>
            <input type="password" class="border border-gray-300 p-2 rounded focus:outline-none focus:ring-2 focus:ring-red-500">
        </div>
        <button type="submit" class="bg-secondary text-white py-2 px-4 rounded">Iniciar Sesión</button>
    </form>
    <button class="bg-primary text-gray-800 py-2 px-4 mt-4 w-full rounded" type="button">
        <a href="/register" class="text-decoration-none">Registrarse</a>
    </button>
</div>
